.main_box{
    display: grid;
    grid-template-columns: 70% 30%;
}

#sidebar_section_title{
    text-align: center;
}

ul li{
    padding: 5px;
}

.feature_video_stats li{
    display: inline-block;
    text-align: center;
    padding-right: 10px;
}